<nav class="navbar navbar-expand-lg navbar-dark bg-primary bg-gradient shadow">
  <div class="container">
    <%= link_to root_path, class: 'navbar-brand position-absolute mt-5 d-none d-md-block', style: "z-index:1" do %>
      <%= image_tag 'logo' , height: '90px' %>
    <% end %>
    <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 fw-bold">
        <li class="nav-item">
          <%= link_to 'Clientes' , clients_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Películas' , movies_path, class: 'nav-link' %>
        </li>
      </ul>
    </div>
  </div>
</nav>